<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="GSHEETS + FLASK = BLOG <3">
  <meta name="author" content="Mike Resoli">

  <title>GSHEETS #⃣ + FLASK 🍼 = BLOG 😍 - {% block pagetitle %}{% endblock%}</title>

  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    {% with categories=categories %}
    {% include 'shared/_nav.html' %}
    {% endwith %}
    
    {% with breadcrumbs=breadcrumbs %}
    {% include 'shared/_breadcrumbs.html' %}
    {% endwith %}
    
    <h1>
      {% block title %}{% endblock%}
    </h1>

    {% block content %}{% endblock %}
  </div>
  <!-- Core JavaScript
    ================================================== -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {% block extrajs %}{% endblock %}
  <style>
    code {
      white-space: pre-wrap;
    }
    p {
      margin: 20px 0 20px 0;
    }
    .breadcrumb {
      margin: 20px 0 20px 0;
    }
    .post-readmore {
      text-align: center;
      font-weight: bold;
      font-size: 20px;
    }
  </style>
</body>

</html>